preprocess:
    rawTweetsPath: ../../files/tweets/output.RData
    preprocessedPath: ../../files/tweets/output.pkl
    aoiPath: ../../files/aoi/3_mittel.geo.json
    columns: [NAME_0,NAME_1,NAME_2,NAME_3]

process:
    entityModel: dslim/bert-base-NER
    sentimentModel: cardiffnlp/twitter-roberta-base-sentiment-latest
    indexName: tweets
    columnns: [NAME_0,NAME_1,NAME_2,NAME_3]
elastic:
    host: localhost
    port: 9200
bulk:
    filepath: ../../files/bulk.json



